.title1{
	text-align:center;
	padding:20px;
	background-image:url("https://thumbs.dreamstime.com/b/lincoln-penny-wallpaper-background-pennies-32802058.jpg");
	color:black;
}
.spreadsheet{
	height:100%;
	width:100%;
}
body{
	background-color:black;
}