.history{
	margin-top:30px;
	text-align:center;
	margin-right:300px;
	margin-left:300px;
	font-size:20px;
	color:black;

}
.about{
	background-color:black;
	color:white;
	text-align:center;
}
body{
	background-image:url("https://orig00.deviantart.net/f6bd/f/2013/192/1/8/old_paper_by_lavandalu-d6cz6ur.png")